# Function

In [ ]:
a = 20
b = 30
gmean = (a*b)/(a+b)
print(gmean)


c = 10
d = 20
gmean1 = (c*d)/(c+d)
print(gmean1)

12.0
6.666666666666667

In [ ]:
#gmean function

def gmean(a,b):
  mean = (a*b)/(a+b)
  print(mean)

gmean(20,30)
gmean(10,20)

12.0
6.666666666666667

In [ ]:
def even_or_odd(num):
  if num%2==0:
    return "Even"
  else:
    return "Odd"

even_or_odd(7)
even_or_odd(6)

'Even'

In [ ]:
def greet():
  print("Hello")

greet()

Hello

In [ ]:
def greet(name):
  print(f"hello {name}")

greet("sudeep")

hello sudeep

In [ ]:
# Simple interest

def intrest(p,t,r):
  si = (p*t*r)/100
  print("simple interst",si)


intrest(1000,2,7)

simple interst 140.0

In [ ]:
#Area of rectangle

def area(l,w):
  area = l*w
  print("area of rectangle is:",area)
area(10,6)

area of rectangle is: 60

In [ ]:
#Area of tringle
def tringle(b,h):
  area = (1/2)*b*h
  print("area of tringle is",area)
tringle(10,2)

area of tringle is 10.0

In [ ]:
#Area of square and circle

def area(r,a):
  circle = 3.142*r*r
  square = a*a
  print("area of cicrle",circle)
  print("area of square",square)

area(5,4)

area of cicrle 78.55
area of square 16

#Exception handling
#syntax
try:
  #riskey code
  except:
    #if error occur

In [ ]:
a = input("enter a number:")
print(f"multiplication table if {a}is:")
try:
  for i in range(1,11):
    print(f"{int(a)} * {i} = {int(a)*i}")
except:
  print("invalid input")
  print("imp code")
  print("end of code")

enter a number:s
multiplication table if sis:
invalid input
imp code
end of code

In [ ]:
userid = "user1234"
password = 98765

usearname = input("Enter a username:")
password = input("Enter a password")
if usearname == userid and password == password:
    print("logged in successfully")
else:
  print("invalid username or password")

Enter a username:hgkgkg
Enter a password867yug
invalid username or password

In [ ]:
userid = 1234
password = "admin"
try:
  usearname = int(input("Enter a username:"))
  password = input("Enter a password")
  if usearname == userid and password == password:
      print("login successfully")
  else:
    print("wrong userid or password")
except:
  print("Enter a valid userid")

Enter a username:gjhfgfd
Enter a valid userid

In [ ]:
x = 10
y = 0
try:
  print(x/y)
except:
  print("invalid ")

invalid

# Data Manipulation

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving data_cleaning_dataset_1.csv to data_cleaning_dataset_1 (2).csv

In [ ]:
import pandas as pd
df = pd.read_csv("data_cleaning_dataset_1.csv")
df.head() # reading first 5 rows

,Student_ID,Age,Gender,Marks,Attendance_Percent,Department,City,Email,Fee_Paid,Admission_Date,Income,Study_Hours,Experience_Years,Course_Level,Scholarship,Hostel,Blood_Group
0,1,150.0,NaN,-10.0,NaN,NaN,Mumbai,NaN,No,15-07-2023,136958,9.2,2,UG,No,No,B+
1,2,21.0,Female,65.0,60.0,BBA,Bangalore,NaN,Y,15-07-2023,146932,2.1,0,PG,No,No,A+
2,3,22.0,M,65.0,100.0,NaN,NaN,NaN,N,NaN,118694,6.2,2,PG,Yes,Yes,B-
3,4,150.0,Male,-10.0,70.0,NaN,Mumbai,NaN,N,01-06-2023,134879,3.5,5,UG,Yes,No,O-
4,5,20.0,male,-10.0,100.0,BBA,Chennai,valid@email.com,NaN,15-07-2023,125268,6.0,7,PhD,No,No,O+

In [ ]:
df.shape  # check rows and colums

(1000, 17)

In [ ]:
df.duplicated() # check duplicated valu

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [ ]:
# to remove duplicate value
df.drop_duplicates(inplace=True)

In [ ]:
df.isnull().sum()  # checking null values

Student_ID              0
Age                   135
Gender                143
Marks                 106
Attendance_Percent    162
Department            203
City                  199
Email                 340
Fee_Paid              212
Admission_Date        234
Income                  0
Study_Hours             0
Experience_Years        0
Course_Level            0
Scholarship             0
Hostel                  0
Blood_Group             0
dtype: int64

#Handling missing values

In [ ]:
# numrical columns---> with meadin


num_cols = ["Age","Marks","Attendance_Percent"]

# With for loop
for col in num_cols:
  df[col]=df[col].fillna(df[col].median())

print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0     NaN  -10.0                80.0        NaN
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0       M   65.0               100.0        NaN
3             4  150.0    Male  -10.0                70.0        NaN
4             5   20.0    male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0       F   75.0                80.0       BCOM
996         997   18.0    male  -10.0                80.0        BCA
997         998  150.0    male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai              NaN       No     15-07-2023  136958          9.2
1    Bangalore              NaN        Y     15-07-2023  146932          2.1
2          NaN              NaN        N            NaN  118694          6.2
3       Mumbai              NaN        N     01-06-2023  134879          3.5
4      Chennai  valid@email.com      NaN     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com        N     15-07-2023   70961          6.0
996    Chennai              NaN        N            NaN  141678          6.4
997    Chennai              NaN        N            NaN   89532          7.1
998        NaN              NaN        N     01-06-2023   96994          8.2
999      Delhi  valid@email.com      NaN     15-08-2023   71133          3.4

     Experience_Years Course_Level Scholarship Hostel Blood_Group
0                   2           UG          No     No          B+
1                   0           PG          No     No          A+
2                   2           PG         Yes    Yes          B-
3                   5           UG         Yes     No          O-
4                   7          PhD          No     No          O+
..                ...          ...         ...    ...         ...
995                 5           UG         Yes    Yes          A-
996                 3           UG         Yes     No          O+
997                 7           UG         Yes    Yes         AB+
998                 2           UG         Yes     No          B-
999                 8          PhD         Yes    Yes          O-

[1000 rows x 17 columns]

In [ ]:
# numrical columns---> with meadin


num_cols = ["Age","Marks","Attendance_Percent"]

# Without for loop
df[num_cols]=df[num_cols].fillna(df[num_cols].median())
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0     NaN  -10.0                80.0        NaN
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0       M   65.0               100.0        NaN
3             4  150.0    Male  -10.0                70.0        NaN
4             5   20.0    male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0       F   75.0                80.0       BCOM
996         997   18.0    male  -10.0                80.0        BCA
997         998  150.0    male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai              NaN       No     15-07-2023  136958          9.2
1    Bangalore              NaN        Y     15-07-2023  146932          2.1
2          NaN              NaN        N            NaN  118694          6.2
3       Mumbai              NaN        N     01-06-2023  134879          3.5
4      Chennai  valid@email.com      NaN     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com        N     15-07-2023   70961          6.0
996    Chennai              NaN        N            NaN  141678          6.4
997    Chennai              NaN        N            NaN   89532          7.1
998        NaN              NaN        N     01-06-2023   96994          8.2
999      Delhi  valid@email.com      NaN     15-08-2023   71133          3.4

     Experience_Years Course_Level Scholarship Hostel Blood_Group
0                   2           UG          No     No          B+
1                   0           PG          No     No          A+
2                   2           PG         Yes    Yes          B-
3                   5           UG         Yes     No          O-
4                   7          PhD          No     No          O+
..                ...          ...         ...    ...         ...
995                 5           UG         Yes    Yes          A-
996                 3           UG         Yes     No          O+
997                 7           UG         Yes    Yes         AB+
998                 2           UG         Yes     No          B-
999                 8          PhD         Yes    Yes          O-

[1000 rows x 17 columns]

In [ ]:
#categeorical colums

cat_cols = ["Gender","Department","City","Fee_Paid"]

#with for loop
for cols in cat_cols:
  df[cols] = df[cols].fillna(df[cols].mode([0]))
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0    Male  -10.0                80.0       BCOM
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0       M   65.0               100.0        NaN
3             4  150.0    Male  -10.0                70.0        NaN
4             5   20.0    male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0       F   75.0                80.0       BCOM
996         997   18.0    male  -10.0                80.0        BCA
997         998  150.0    male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai              NaN       No     15-07-2023  136958          9.2
1    Bangalore              NaN        Y     15-07-2023  146932          2.1
2          NaN              NaN        N            NaN  118694          6.2
3       Mumbai              NaN        N     01-06-2023  134879          3.5
4      Chennai  valid@email.com      NaN     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com        N     15-07-2023   70961          6.0
996    Chennai              NaN        N            NaN  141678          6.4
997    Chennai              NaN        N            NaN   89532          7.1
998        NaN              NaN        N     01-06-2023   96994          8.2
999      Delhi  valid@email.com      NaN     15-08-2023   71133          3.4

     Experience_Years Course_Level Scholarship Hostel Blood_Group
0                   2           UG          No     No          B+
1                   0           PG          No     No          A+
2                   2           PG         Yes    Yes          B-
3                   5           UG         Yes     No          O-
4                   7          PhD          No     No          O+
..                ...          ...         ...    ...         ...
995                 5           UG         Yes    Yes          A-
996                 3           UG         Yes     No          O+
997                 7           UG         Yes    Yes         AB+
998                 2           UG         Yes     No          B-
999                 8          PhD         Yes    Yes          O-

[1000 rows x 17 columns]

In [ ]:

df["Email"] = df["Email"].fillna("unknown")
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0    Male  -10.0                80.0       BCOM
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0       M   65.0               100.0        NaN
3             4  150.0    Male  -10.0                70.0        NaN
4             5   20.0    male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0       F   75.0                80.0       BCOM
996         997   18.0    male  -10.0                80.0        BCA
997         998  150.0    male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai          unknown       No     15-07-2023  136958          9.2
1    Bangalore          unknown        Y     15-07-2023  146932          2.1
2          NaN          unknown        N            NaN  118694          6.2
3       Mumbai          unknown        N     01-06-2023  134879          3.5
4      Chennai  valid@email.com      NaN     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com        N     15-07-2023   70961          6.0
996    Chennai          unknown        N            NaN  141678          6.4
997    Chennai          unknown        N            NaN   89532          7.1
998        NaN          unknown        N     01-06-2023   96994          8.2
999      Delhi  valid@email.com      NaN     15-08-2023   71133          3.4

     Experience_Years Course_Level Scholarship Hostel Blood_Group
0                   2           UG          No     No          B+
1                   0           PG          No     No          A+
2                   2           PG         Yes    Yes          B-
3                   5           UG         Yes     No          O-
4                   7          PhD          No     No          O+
..                ...          ...         ...    ...         ...
995                 5           UG         Yes    Yes          A-
996                 3           UG         Yes     No          O+
997                 7           UG         Yes    Yes         AB+
998                 2           UG         Yes     No          B-
999                 8          PhD         Yes    Yes          O-

[1000 rows x 17 columns]

In [ ]:
#Gender Standization

df['Gender'] = df['Gender'].replace({
    "M":"Male",
    "male":"Male",
    "m":"Male",
    "F":"Female",
    "f":"Female",
    "female":"Female"
})
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0    Male  -10.0                80.0       BCOM
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0    Male   65.0               100.0        NaN
3             4  150.0    Male  -10.0                70.0        NaN
4             5   20.0    Male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0  Female   75.0                80.0       BCOM
996         997   18.0    Male  -10.0                80.0        BCA
997         998  150.0    Male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai          unknown       No     15-07-2023  136958          9.2
1    Bangalore          unknown        Y     15-07-2023  146932          2.1
2          NaN          unknown        N            NaN  118694          6.2
3       Mumbai          unknown        N     01-06-2023  134879          3.5
4      Chennai  valid@email.com      NaN     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com        N     15-07-2023   70961          6.0
996    Chennai          unknown        N            NaN  141678          6.4
997    Chennai          unknown        N            NaN   89532          7.1
998        NaN          unknown        N     01-06-2023   96994          8.2
999      Delhi  valid@email.com      NaN     15-08-2023   71133          3.4

     Experience_Years Course_Level Scholarship Hostel Blood_Group
0                   2           UG          No     No          B+
1                   0           PG          No     No          A+
2                   2           PG         Yes    Yes          B-
3                   5           UG         Yes     No          O-
4                   7          PhD          No     No          O+
..                ...          ...         ...    ...         ...
995                 5           UG         Yes    Yes          A-
996                 3           UG         Yes     No          O+
997                 7           UG         Yes    Yes         AB+
998                 2           UG         Yes     No          B-
999                 8          PhD         Yes    Yes          O-

[1000 rows x 17 columns]

In [ ]:
df['Fee_Paid'] = df['Fee_Paid'].replace({
    "Y":"Yes",
    "y":"Yes",
    "N":"No",
    "n":"No"
})
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0    Male  -10.0                80.0       BCOM
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0    Male   65.0               100.0        NaN
3             4  150.0    Male  -10.0                70.0        NaN
4             5   20.0    Male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0  Female   75.0                80.0       BCOM
996         997   18.0    Male  -10.0                80.0        BCA
997         998  150.0    Male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai          unknown       No     15-07-2023  136958          9.2
1    Bangalore          unknown      Yes     15-07-2023  146932          2.1
2          NaN          unknown       No            NaN  118694          6.2
3       Mumbai          unknown       No     01-06-2023  134879          3.5
4      Chennai  valid@email.com      NaN     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com       No     15-07-2023   70961          6.0
996    Chennai          unknown       No            NaN  141678          6.4
997    Chennai          unknown       No            NaN   89532          7.1
998        NaN          unknown       No     01-06-2023   96994          8.2
999      Delhi  valid@email.com      NaN     15-08-2023   71133          3.4

     Experience_Years Course_Level Scholarship Hostel Blood_Group
0                   2           UG          No     No          B+
1                   0           PG          No     No          A+
2                   2           PG         Yes    Yes          B-
3                   5           UG         Yes     No          O-
4                   7          PhD          No     No          O+
..                ...          ...         ...    ...         ...
995                 5           UG         Yes    Yes          A-
996                 3           UG         Yes     No          O+
997                 7           UG         Yes    Yes         AB+
998                 2           UG         Yes     No          B-
999                 8          PhD         Yes    Yes          O-

[1000 rows x 17 columns]

# Encoding
* Label Encoding
* Binary Encoding
* One-hot Encoding

In [ ]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['Course_Level'] = le.fit_transform(df['Course_Level'])
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0    Male  -10.0                80.0       BCOM
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0    Male   65.0               100.0        NaN
3             4  150.0    Male  -10.0                70.0        NaN
4             5   20.0    Male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0  Female   75.0                80.0       BCOM
996         997   18.0    Male  -10.0                80.0        BCA
997         998  150.0    Male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai          unknown       No     15-07-2023  136958          9.2
1    Bangalore          unknown      Yes     15-07-2023  146932          2.1
2          NaN          unknown       No            NaN  118694          6.2
3       Mumbai          unknown       No     01-06-2023  134879          3.5
4      Chennai  valid@email.com      NaN     15-07-2023  125268          6.0
..         ...              ...      ...            ...     ...          ...
995     Mumbai  valid@email.com       No     15-07-2023   70961          6.0
996    Chennai          unknown       No            NaN  141678          6.4
997    Chennai          unknown       No            NaN   89532          7.1
998        NaN          unknown       No     01-06-2023   96994          8.2
999      Delhi  valid@email.com      NaN     15-08-2023   71133          3.4

     Experience_Years  Course_Level Scholarship Hostel Blood_Group
0                   2             2          No     No          B+
1                   0             0          No     No          A+
2                   2             0         Yes    Yes          B-
3                   5             2         Yes     No          O-
4                   7             1          No     No          O+
..                ...           ...         ...    ...         ...
995                 5             2         Yes    Yes          A-
996                 3             2         Yes     No          O+
997                 7             2         Yes    Yes         AB+
998                 2             2         Yes     No          B-
999                 8             1         Yes    Yes          O-

[1000 rows x 17 columns]

In [ ]:
# Binary Encoding
df['Scholarship'] = df['Scholarship'].map({"Yes":1,"No":0})
df['Fee_Paid'] = df['Fee_Paid'].map({"Yes":1,"No":0})
df['Hostel'] = df['Hostel'].map({"Yes":1,"No":0})
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0    Male  -10.0                80.0       BCOM
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0    Male   65.0               100.0        NaN
3             4  150.0    Male  -10.0                70.0        NaN
4             5   20.0    Male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0  Female   75.0                80.0       BCOM
996         997   18.0    Male  -10.0                80.0        BCA
997         998  150.0    Male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email  Fee_Paid Admission_Date  Income  Study_Hours  \
0       Mumbai          unknown       0.0     15-07-2023  136958          9.2
1    Bangalore          unknown       1.0     15-07-2023  146932          2.1
2          NaN          unknown       0.0            NaN  118694          6.2
3       Mumbai          unknown       0.0     01-06-2023  134879          3.5
4      Chennai  valid@email.com       NaN     15-07-2023  125268          6.0
..         ...              ...       ...            ...     ...          ...
995     Mumbai  valid@email.com       0.0     15-07-2023   70961          6.0
996    Chennai          unknown       0.0            NaN  141678          6.4
997    Chennai          unknown       0.0            NaN   89532          7.1
998        NaN          unknown       0.0     01-06-2023   96994          8.2
999      Delhi  valid@email.com       NaN     15-08-2023   71133          3.4

     Experience_Years  Course_Level  Scholarship  Hostel Blood_Group
0                   2             2            0       0          B+
1                   0             0            0       0          A+
2                   2             0            1       1          B-
3                   5             2            1       0          O-
4                   7             1            0       0          O+
..                ...           ...          ...     ...         ...
995                 5             2            1       1          A-
996                 3             2            1       0          O+
997                 7             2            1       1         AB+
998                 2             2            1       0          B-
999                 8             1            1       1          O-

[1000 rows x 17 columns]

In [ ]:
# One-hot encoding
df = pd.get_dummies(
    df,
    columns = ["Blood_Group"],
    drop_first = True
)
print(df)

     Student_ID    Age  Gender  Marks  Attendance_Percent Department  \
0             1  150.0    Male  -10.0                80.0       BCOM
1             2   21.0  Female   65.0                60.0        BBA
2             3   22.0    Male   65.0               100.0        NaN
3             4  150.0    Male  -10.0                70.0        NaN
4             5   20.0    Male  -10.0               100.0        BBA
..          ...    ...     ...    ...                 ...        ...
995         996   21.0  Female   75.0                80.0       BCOM
996         997   18.0    Male  -10.0                80.0        BCA
997         998  150.0    Male   75.0                70.0        BSc
998         999   21.0    Male   85.0               100.0        BCA
999        1000   21.0  Female  -10.0                90.0        BSc

          City            Email  Fee_Paid Admission_Date  ...  \
0       Mumbai          unknown       0.0     15-07-2023  ...
1    Bangalore          unknown       1.0     15-07-2023  ...
2          NaN          unknown       0.0            NaN  ...
3       Mumbai          unknown       0.0     01-06-2023  ...
4      Chennai  valid@email.com       NaN     15-07-2023  ...
..         ...              ...       ...            ...  ...
995     Mumbai  valid@email.com       0.0     15-07-2023  ...
996    Chennai          unknown       0.0            NaN  ...
997    Chennai          unknown       0.0            NaN  ...
998        NaN          unknown       0.0     01-06-2023  ...
999      Delhi  valid@email.com       NaN     15-08-2023  ...

     Experience_Years  Course_Level  Scholarship  Hostel  Blood_Group_A-  \
0                   2             2            0       0           False
1                   0             0            0       0           False
2                   2             0            1       1           False
3                   5             2            1       0           False
4                   7             1            0       0           False
..                ...           ...          ...     ...             ...
995                 5             2            1       1            True
996                 3             2            1       0           False
997                 7             2            1       1           False
998                 2             2            1       0           False
999                 8             1            1       1           False

     Blood_Group_AB+  Blood_Group_B+  Blood_Group_B-  Blood_Group_O+  \
0              False            True           False           False
1              False           False           False           False
2              False           False            True           False
3              False           False           False           False
4              False           False           False            True
..               ...             ...             ...             ...
995            False           False           False           False
996            False           False           False            True
997             True           False           False           False
998            False           False            True           False
999            False           False           False           False

     Blood_Group_O-
0             False
1             False
2             False
3              True
4             False
..              ...
995           False
996           False
997           False
998           False
999            True

[1000 rows x 22 columns]

In [ ]:
df.to_csv("cleaned_dataset.csv",index=False)
from google.colab import files
files.download("cleaned_dataset.csv")